{% extends "base/base.html" %}
{% load bootstrap4 %}
{% block body %}

<div class="bradcam_area bradcam_bg_1">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="bradcam_text">
                  <h3> Password change</h3>
              </div>
          </div>
      </div>
  </div>
</div>
<!--/ bradcam_area  -->

<!-- job_listing_area_start  -->
<div class="job_listing_area plus_padding">
  <div class="container">
          <div class="col-lg-9">    
            <form action="" method="post">
              {% csrf_token %}
              {% bootstrap_form form%}
                <p>{{ form.email }}</p>
                <div class="submit_btn">
                  <button class="boxed-btn3 w-100" type="submit">change password</button>
              </div>
            </form>
          </div>
  </div>
</div>
{% endblock %}