{% extends "base/base.html" %}
{% load bootstrap4 %}
{% block body %}
<div class="job_listing_area plus_padding">
  <div class="container">
          <div class="col-lg-9">
            <form action="" method="post">
              {% csrf_token %}
              {% if form.email.errors %}
                {% bootstrap_form_errors  form%}
              {% endif %}
                  <p>{% bootstrap_field form.email%}</p>
                  <div class="col-md-12">
                    <div class="submit_btn">
                        <button class="boxed-btn3 w-100" type="submit">Login</button>
                    </div>
              </form>

          </div>
  </div>
</div>
{% endblock %}
<form action="" method="post">
{% csrf_token %}
{% if form.email.errors %}
  {% bootstrap_field form.email.errors%}
{% endif %}
    <p>{% bootstrap_field form.email%}</p>
    <div class="col-md-12">
      <div class="submit_btn">
          <button class="boxed-btn3 w-100" type="submit">Login</button>
      </div>
</form>
