{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% block body %}
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Post Job</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<!-- job_listing_area_start  -->
<div class="job_listing_area plus_padding">
    <div class="container">
            <div class="col-lg-9">
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {% bootstrap_field  post_job.title layout='horizontal'  %}
                    {% bootstrap_field  post_job.job_type layout='horizontal' %}
                    {% bootstrap_field  post_job.salary layout='horizontal' %}
                    {% bootstrap_field  post_job.vacancy layout='horizontal' %}
                    {% bootstrap_field  post_job.experince layout='horizontal' %}
                    {% bootstrap_field  post_job.image layout='horizontal' %}
                    {% bootstrap_field  post_job.categorie layout='horizontal'  %}
                    {% bootstrap_field  post_job.description layout='horizontal'  %}
                    <div class="col-md-12">
                        <div class="submit_btn">
                            <button class="boxed-btn3 w-100" type="submit">Post Now</button>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>
{% endblock body %}



