{% extends 'base/base.html' %}
{% load static %}

{% block body %}
<!doctype html>
<html class="no-js" lang="zxx">

    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    
    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>+{{all_jobs|length}} Jobs Available</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- job_listing_area_start  -->
    <div class="job_listing_area plus_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="job_filter white-bg">
                        <div class="form_inner white-bg">
                            <h3>Filter</h3>
                            <form method="GET">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="single_field">
                                            <label readonly style="border:0; color:#7A838B; font-size: 16px; font-weight:400;">{{filter_form.title.name|title}}</label>
                                            {{filter_form.title}}
                                            {% comment %} <input type="text" name="title" placeholder="Search keyword"> {% endcomment %}
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single_field">
                                            <label readonly style="border:0; color:#7A838B; font-size: 16px; font-weight:400;">{{filter_form.categorie.name|title}}</label>
                                            {{filter_form.categorie}}
                                            {% comment %} <select class="wide" name="categoriez">
                                                <option data-display="Category">Category</option>
                                                {% for cat in category %}
                                                <option value="{{cat}}">{{cat|title}}</option>
                                                {% endfor %}
                                            </select> {% endcomment %}
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single_field">
                                            <label readonly style="border:0; color:#7A838B; font-size: 16px; font-weight:400;">{{filter_form.experince.name|title}}</label>
                                            {{filter_form.experince}}
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single_field">
                                            <label readonly style="border:0; color:#7A838B; font-size: 16px; font-weight:400;">Job Type</label>
                                            {{filter_form.job_type}}
                                            {% comment %} <select class="wide" name="job_type">
                                                <option data-display="Job type" >Job type</option>
                                                <option value="Full time">Full time</option>
                                                <option value="Part time">Part time</option>
                                            </select> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                                <div class="single_field">
                                    <label readonly style="border:0; color:#7A838B; font-size: 18px; font-weight:400;">{{filter_form.salary.name|title}}</label>
                                    {{filter_form.salary}}
                                </div>
                                <div class="col-md-12">
                                    <div class="submit_btn">
                                        <button class="boxed-btn3 w-100" type="submit">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="recent_joblist_wrap">
                        <div class="recent_joblist white-bg ">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <h4>Job Listing</h4>
                                </div>
                                <div class="col-md-6">  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="job_lists m-0">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                {% for job in jobs %}
                                <div class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="thumb">
                                            <img src=''  alt="">
                                        </div>
                                        <div class="jobs_conetent">
                                            <a href="{% url 'job-details' job.slug %}"><h4>{{job}}</h4></a>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <p> <i class="fa fa-clock-o"></i>{{job.job_type}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs_right">
                                        <div class="apply_now">
                                            <a class="heart_mark" href="#"> <i class="fa fa-heart"></i> </a>
                                            <a href="{% url 'job-details' job.slug %}" class="boxed-btn3">Apply Now</a>
                                        </div>
                                        <div class="date">
                                            <p>Date line: {{job.publish_at|date:"d M Y"}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% if jobs.has_other_pages %}                        
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination_wrap">
                                <ul>
                                    {% if jobs.has_previous %}
                                    <li><a href="?page={{jobs.previous_page_number}}"> <i class="ti-angle-left"></i> </a></li>
                                    {% endif %}
                                    {% for i in jobs.paginator.page_range  %}                                    
                                    <li><a href="?page={{i}}"><span>{{i}}</span></a></li>
                                    {% endfor %}
                                    {% if jobs.has_next %}
                                    <li><a href="?page={{jobs.next_page_number}}"> <i class="ti-angle-right"></i>
                                    {% endif %} </a></li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock body %}
</html>