{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% block body %}
  <!-- bradcam_area  -->
  <div class="bradcam_area bradcam_bg_1">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="bradcam_text">
                      <h3>{{blog.title}}</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--/ bradcam_area  -->

   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-center posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{{blog.image.url}}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2>{{blog.about}}
                     </h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="fa fa-user"></i>{{blog.category}}</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i> {{blog.blog_comment.count}} Comments</a></li>
                     </ul>
                     <p class="excert">
                        {{blog.article}}
                     </p>
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                     <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                     </ul>
                  </div>
                  <div class="navigation-area">
                     <div class="row">
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           <div class="thumb">
                              <a href="#">
                                 <img class="img-fluid" src="img/post/preview.png" alt="">
                              </a>
                           </div>
                           <div class="detials">
                              <p>Prev Post</p>
                              <a href="/blog/{{prev_blog.slug}}">
                                 <h4>{{prev_blog.title}}</h4>
                              </a>
                           </div>
                        </div>
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           <div class="detials">
                              <p>Next Post</p>
                              <a href="/blog/{{next_blog.slug}}">
                                 <h4>{{next_blog.title}}</h4>
                              </a>
                           </div>
                           <div class="thumb">
                              <a href="#">
                                 <img class="img-fluid" src="img/post/next.png" alt="">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="blog-author">
                  <div class="media align-items-center">
                     <img src="{{blog.author.image.url}}" alt="">
                     <div class="media-body">
                        <a href="#">
                           <h4>{{blog.author}}</h4>
                        </a>
                        <p>{{blog.author.about}}</p>
                     </div>
                  </div>
               </div>

               <div class="comments-area">
                  <h4>{{blog.blog_comment.count}} Comments</h4>
                  {% for comment in comments %}
                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="{{comment.owner.image.url}}" alt="">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 {{comment}}
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="#">{{comment.owner}}</a>
                                    </h5>
                                    <p class="date">{{comment.pub_at}}</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
                  {% if user.is_authenticated %}
                  <div class="comment-form">
                  <form class="form-contact comment_form" enctype="multipart/form-data" method="POST">
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-12">
                           <div class="form-group">
                              {% bootstrap_form comment_form%}
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                     </div>
                  </form>
                  {% else %}
                  <div class="form-group">
                     <button type="submit" class="button button-contactForm btn_1 boxed-btn"><a href="/accounts/login">Log in to leave comments</button>
                     <a href="/accounts/login">
                  </div>
                  {% endif %}
               </div>
            </div>
   <!--================ Blog Area end =================-->

{% endblock body %}