{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% block body %}
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Blogs</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    {% for blog in blogs %}
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{{blog.image.url}}" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>{{blog.pub_at|date:"d"}}</h3>
                                <p>{{blog.pub_at|date:"M"}}</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="{{blog.slug}}">
                                <h2>{{blog.title}}</h2>
                            </a>
                            <p>{{blog.about}}</p>
                            <ul class="blog-info-link">
                                <li><a href="?category={{blog.category.id}}"><i class="fa fa-user"></i>{{blog.category}}</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> {{blog.blog_comment.count}} Comments</a></li>
                            </ul>
                        </div>
                    </article>
                    {% endfor %}

                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="pagination_wrap">
                                            <ul>
                                                {% if blogs.has_other_pages %}                        

                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="pagination_wrap">
                                                            <ul>
                {% if blogs.has_previous %}
                <li><a href="?page={{blogs.previous_page_number}}"> <i class="ti-angle-left"></i> </a></li>
                {% endif %}
                {% for i in blogs.paginator.page_range  %}                                    
                <li><a href="?page={{i}}"><span>{{i}}</span></a></li>
                {% endfor %}
                {% if blogs.has_next %}
                <li><a href="?page={{blogs.next_page_number}}"> <i class="ti-angle-right"></i>
                {% endif %} </a></li>
            </ul>
        </div>
    </div>
{% endif %}
                                            </ul>
                                        </div>
                                    </div>                            
                                </li>
                        </ul>
                    </nav>

                </div>
            </div>
    <div class="col-lg-4">
        <div class="blog_right_sidebar">
            <aside class="single_sidebar_widget search_widget">
                <form method="GET">

                            <div class="col-lg-12">
                                    <div class="single_field">
                                        {% bootstrap_field  search_form.title layout='inline'%}
                                    </div>
                            </div>
                            <div class="single_field">

                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                        type="submit">Search</button>
                            </div>
                </form>
            </aside>

            <aside class="single_sidebar_widget post_category_widget">
                <h4 class="widget_title">Category</h4>
                <ul class="list cat-list">
                    {% for cat in category|slice:":5" %}
                    <li>
                        <a href="?category={{cat.id}}" class="d-flex">
                            <p>{{cat|title}}</p>
                            <p>({{cat.blog_category.count}})</p>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </aside>

            <aside class="single_sidebar_widget popular_post_widget">
                <h3 class="widget_title">Recent Post</h3>

                {% for post in recent_post|slice:":5" %}
                <div class="media post_item">
                    <img src="" alt="post">
                    <div class="media-body">
                        <a href="single-blog.html">
                            <h3>{{post.about|slice:":23"}}...</h3>
                        </a>
                        <p>{{post.pub_at|date:"d,M,Y"}}</p>
                    </div>
                </div>
                {% endfor %}
            </aside>


            <aside class="single_sidebar_widget tag_cloud_widget">
                <h4 class="widget_title">Tag Clouds</h4>
                <ul class="list">
                    {% for key in keyword|slice:":8" %}
                    <li>
                        <a href="?keyword={{key.id}}">{{key}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </aside>

        </div>
    </div>
</div>
</div>
</section>

{% endblock body %}